<div class="card">
    <div class="card-body">
        <h5 class="card-title">Client Register</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fill the form above</h6>
        <p class="card-text">Inform client data</p>
        <hr />
        <form action="">
            <div class="row">
                <div class="col-md-6">
                    <label>Client Name</label>
                    <input type="text" class="form-control" placeholder="eg John Wick" />
                </div>
                <div class="col-md-6">
                    <label>Client Email</label>
                    <input type="text" class="form-control" placeholder="johnw@email.com" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Register</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>