<div class="card">
    <div class="card-body">
        <h5 class="card-title">Client consult</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fill the form above</h6>
        <p class="card-text">Inform client data</p>
        <hr />
        <table class="table table-hover table-striped table-responsive">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Client Email</th>
                    <th>Registration Date</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Date</td>
                    <td>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit-screen">
                            Update
                        </button>
                        &nbsp;
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete-screen">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        Amount of registers: 0
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--Edit Modal-->
<div id="edit-screen" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <label>Client Name</label>
                    <input type="text" class="form-control" placeholder="eg John Wick" />
                    <br />
                    <label>Client Email</label>
                    <input type="text" class="form-control" placeholder="johnw@email.com" />
                    <br />
                    <button type="submit" class="btn btn-primary">Save</button>
                    &nbsp;
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary">Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div id="delete-screen" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Client</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you realy want to delete the client?</p>
                <br />
                <button type="submit" class="btn btn-primary">Save</button>
                &nbsp;
                <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary">Cancel</button>

            </div>
        </div>
    </div>
</div>